.profile-pic {
	max-width: 100%;}
.custom-progress-bar-pink {
	background-color: hotpink;
	}
.video-class {
	float: left;
	max-width: 60%;
	}
.christmastext {
	margin-top: 100px;
	}
.custom-nav {
	background-color: #f232b2;
	}
.nav-link {
	color: white; 
	}
.nav-link {font-size: 30px;
	}
